<ul class="todo-list">
    <% data.forEach(details => { %>
        <li class="todo-list-item">
            <div class="todo-list-item-name"><%= details.task %></div>
            <a href="/edit/<%= details._id %>" class="edit">
                <span class="fas fa-pen"></span>
            </a>
            <a href="/remove/<%= details._id %>" class="remove">
                <span class="fas fa-times"></span>
            </a>
        </li>
    <% }) %>
</ul>