<form action="/edit" method="post">
    
    <input type="text" name="task" id="" value="<%= todo.task %>">
    <!-- <%= todo._id %> -->
    <input type="text" name="id" value="<%= todo._id %>" hidden>
    
    <button type="submit">update</button>
    
</form>
