<form action="/login" method="post">
    <input type="text" name="username" id="" placeholder="Username">
    <input type="password" name="password" id="" placeholder="Password">
    <button type="submit">Login</button>
</form>