<form action="/register" method="post">
    <% if(err) { %>
        <div><%= err %></div>
    <% } %>
    <input type="text" name="username" id="" placeholder="Username">
    <input type="email" name="email" id="" placeholder="Email">
    <input type="password" name="password" id="" placeholder="Password">
    <button type="submit">Register</button>
</form>