@import 'todo';
@import 'login';
@import 'reset';
@import 'register';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:steelblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.error {
    color: red;
}

// form {
//     color: black;
//     position: absolute;
//     top:50%;
//     left: 50%;
//     width: 600px;
//     padding: 30px;
//     transform: translate(-50%,-50%);
//     display: flex;
//     flex-direction: column;
//     align-items: center; 
// }